
.container {
    overflow: hidden;
    display: grid;
    box-shadow: 0 0 10px 5px rgb(103, 18, 23);
    border-radius: 10px;
    padding: 20px;
    list-style-type: none;
    box-sizing: border-box;
    width: 100%;
    margin: 40px 0;
}

.row1 {
    display: flex;                          /*puts the two columns side by side*/
    align-items: center;
    margin: 10px;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;          /*aligns shit horizontally*/
    align-items: center;              /*aligns shit vertically, also, only center works not centre cuz css is american based.*/
}

.row2 {
    display: flex;                          /*puts the two columns side by side*/
    align-items: center;
    margin: 10px;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;          /*aligns shit horizontally*/
    align-items: center;              /*aligns shit vertically, also, only center works not centre cuz css is american based.*/
}

.row3 {
    display: flex;                          /*puts the two columns side by side*/
    align-items: center;
    margin: 10px;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;          /*aligns shit horizontally*/
    align-items: center;              /*aligns shit vertically, also, only center works not centre cuz css is american based.*/
}

.row4 {
    display: flex;                          /*puts the two columns side by side*/
    align-items: center;
    margin: 10px;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;          /*aligns shit horizontally*/
    align-items: center;              /*aligns shit vertically, also, only center works not centre cuz css is american based.*/
}

.col {
    align-items: center;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 5px rgb(103, 18, 23);
}

img {
    border-radius: 10px;
    align-items: center;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 5px rgb(103, 18, 23);
}

h1 {
font-weight: bold;
text-align: center;
color: rgb(103, 18, 23);
font-size: 70px;
text-shadow: 0 0 50px rgb(103, 18, 23);
}

.row1 h5 {
    font-weight: bold;
    text-shadow: 0 0 50px rgb(103, 18, 23);
    font-size: 50px;
    text-align: center;
    color: rgb(103, 18, 23);
    border-radius: 10px;
    align-items: center;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 5px rgb(103, 18, 23);
    height: 200px;
    width: 400px; 
    display: flex;
    justify-content: space-evenly;          /*aligns shit horizontally*/
    align-items: center;              /*aligns shit vertically, also, only center works not centre cuz css is american based.*/
}

.row2 h5 {
    font-weight: bold;
    text-shadow: 0 0 50px rgb(103, 18, 23);
    font-size: 50px;
    text-align: center;
    color: rgb(103, 18, 23);
    border-radius: 10px;
    align-items: center;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 5px rgb(103, 18, 23);
    height: 400px;
    width: 400px; 
    display: flex;
    justify-content: space-evenly;          /*aligns shit horizontally*/
    align-items: center;              /*aligns shit vertically, also, only center works not centre cuz css is american based.*/
}

.row3 h5 {
    font-weight: bold;
    text-shadow: 0 0 50px rgb(103, 18, 23);
    font-size: 50px;
    text-align: center;
    color: rgb(103, 18, 23);
    border-radius: 10px;
    align-items: center;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 5px rgb(103, 18, 23);
    height: 400px;
    width: 400px; 
    display: flex;
    justify-content: space-evenly;          /*aligns shit horizontally*/
    align-items: center;              /*aligns shit vertically, also, only center works not centre cuz css is american based.*/
}

.row4 h5 {
    font-weight: bold;
    text-shadow: 0 0 50px rgb(103, 18, 23);
    font-size: 50px;
    text-align: center;
    color: rgb(103, 18, 23);
    border-radius: 10px;
    align-items: center;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 5px rgb(103, 18, 23);
    height: 400px;
    width: 350px; 
    display: flex;
    justify-content: space-evenly;          /*aligns shit horizontally*/
    align-items: center;              /*aligns shit vertically, also, only center works not centre cuz css is american based.*/
}




/* app.jsx (comments) */
/* <h1>FAVOURITE SERIES:</h1>
      <div className='container'>
      
      <div className='row1'>
      <div className='col-4'>
      <h5>OFF CAMPUS</h5>
      </div>
      <div className='col-4'>
      <img src = "https://roayahnews.com/wp-content/uploads/2026/05/%D9%85%D8%B3%D9%84%D8%B3%D9%84-Off-Campus.png" style={{width: "400px", height:"200px",}}/>
      </div>
      </div>
      
      
      <div className='row2'>
      <div className='col-4'>
      <h5>STRANGER THINGS</h5>
      </div>
      <div className='col-4'>
      <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRy6MUCYlivAifOgLlsBkIfkWMs0WCtMdVRVOqKwru2jQ&s=10" style={{width: "400px", height:"400px",}}/>
      </div>
      </div>
      
      
      <div className='row3'>
      <div className='col-4'>
      <h5>RIVERDALE</h5>
      </div>
      <div className='col-4'>
      <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6a2NXN_sQTdNCy8BbBwlDwL6inJtgCg2GRpsWIWFFlw&s=10" style={{width: "400px", height:"400px",}}/>
      </div>
      </div>
      
      
      <div className='row4'>
      <div className='col-4'>
      <h5>GOSSIP GIRLS</h5>
      </div>
      <div className='col-4'>
      <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRT-nn0xUXxE3hdeQfAmpDfRsC_ZquuntNLkX9FVsvaJwtyORaK4OpSwfHr&s=10" style={{width: "350px", height:"400px",}}/>
      </div>
      </div>
      
      
      </div> */