*{margin:0; padding:0; box-sizing:border-box;}

.navbar {
    font-family: 'Cormorant Garamond';
    letter-spacing: 5px;
    border-bottom: 1px solid rgb(180, 150, 80);  
    padding: 3px 2px;
    background-color: rgb(10, 10, 10, 0.9) !important;
    padding: 2rem 2rem !important;
    position: sticky;
    top: 0;
    z-index: 100;
    /* transition: background-color 0.3s; */
}

.navbar-brand {
    color: rgb(180, 150, 80) !important;
}

.btn.btn-outline-success{
    border: 1px solid rgb(180, 150, 80)!important;
    color: rgb(180, 150, 80)!important;
    border-radius: 0 !important;
}

.btn.btn-outline-success:hover,
.btn.btn-outline-success:focus,
.btn.btn-outline-success:active{
    background-color: rgb(180, 150, 80)!important;
    color: rgb(10, 10, 10)!important;
    box-shadow: none !important;
}

.nav-link.active{
    color: rgb(213, 205, 166)!important;
    font-family: 'Cormorant Garamond' !important;
    font-weight: normal !important;
    letter-spacing: 2px !important;
}

.nav-item{
    padding: 0 1rem;
    font-size: 12px;
}

body {
    background-color: rgb(10, 10, 10);
}

#root {
    background-color: rgb(10, 10, 10);
}

.container{
    background-color: rgb(10, 10, 10);
    padding: 2rem 2rem;
}

.explore{
    font-size: 12px;
    border: 1px solid rgb(180, 150, 80)!important;
    color: rgb(180, 150, 80)!important;
    background-color: rgb(180, 150, 80) !important;
    height: 40px;
    width: 300px;
    color: 10, 10, 10 !important;
    color: rgb(10, 10, 10)!important;
    letter-spacing: 3px;
    font-size: 10px;
    border-radius: none !important;
}

.explore:hover,
.explore:focus,
.explore:active{
    background-color: rgb(180, 150, 80)!important;
    box-shadow: none !important;
}

.next{
    color: rgb(180, 150, 80);
    padding: 0.5rem 1rem;
    font-size: 12px;
    letter-spacing: 3px;
}

.container h5{
    color: rgb(180, 150, 80);
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 400;
    padding-top: 8px !important;
    margin-top: 3rem !important;
    margin-bottom: 1rem !important;
}

.container h1{
    font-family: 'Playfair Display';
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 80px;
    letter-spacing: 3px;
    padding-top: none;
    padding-bottom: none;
    margin: 0;
    line-height: 1;
}

.gold-italic {
    color: rgb(180, 150, 80);
    font-style: italic;
}

.container p{
    font-family: 'Cormorant Garamond';
    color: rgb(213, 205, 166);
    font-size: 17px;
    letter-spacing: 1px;
    padding-top: 1px;
    margin: 2;
    margin-top: 2rem !important;
    margin-bottom: 3rem !important;
}

.container {
    padding-left: 0 !important;
}

.col-6 img{
    object-fit: cover;
    width: 100% !important;
    height: 100vh;
    object-position: center top;
}

.featured-tag {
    position: absolute;
    bottom: 2rem;
    background-color: rgba(10, 10, 10, 0.7);
    padding: 0.6rem 1rem;
    left: 2rem;
    border: 1px solid rgb(180, 150, 80);
    width: fit-content;
}

.featured-tag p {
    color: rgb(180, 150, 80);
    font-size: 10px;
    letter-spacing: 3px;
    margin-bottom: 0rem !important;
    margin-top: 0 !important;
    font-weight: bold;
    font-family: 'Cormorant Garamond';
    letter-spacing: 1px;
    font-size: 0.8rem;
}

.featured-tag h3 {
    color: white;
    font-family: 'Playfair Display';
    font-size: 1rem;
    margin: 0;
    margin-top: 0.2rem !important;
    letter-spacing: 1.5px;
}

.divider {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 3rem;
    border-top: 0.5px solid rgb(180, 150, 80);
    border-bottom: 0.5px solid rgb(180, 150, 80);
}

.divider-line {
    flex: 1;
    height: 0.5px;
    background-color: rgb(180, 150, 80);
}

.divider span {
    font-size: 10px;
    letter-spacing: 4px;
    color: rgb(180, 150, 80);
    white-space: nowrap;
}

.heading{
    color: rgb(255, 255, 255);
    font-family: 'Cormorant Garamond';
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 1px;
    padding-top: none;
    padding-bottom: none;
    margin: 0;
    line-height: 1;
    display: flex;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 50px;
}

.gold-italics{
    color: rgb(180, 150, 80);
    font-family: 'playfair display';
    font-style: italic;
    font-weight: 400px;
    font-size: 40px;
    letter-spacing: 1px;
    padding-top: none;
    padding-bottom: none;
    margin: 0;
    line-height: 1;
    display: inline;
    margin: 0 10px !important;
}

.collection-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    position: relative;  /*for the feature tags to show up (which uses absolute position), the parent tag must use relative position*/
}

.grid-main img{
    height: 100% !important;
    height: 100vh !important;
    width: 100% !important;
    object-fit: cover !important;
    object-position: center !important;
}

.grid-small{
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    gap: 20px;
}

.grid-item{
    overflow: hidden;
    position: relative;
}

.grid-small img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.featured-tag h1{
    font-size: 17px;
    font-family: 'Cormorant Garamond';
    letter-spacing: 1px;
    font-style: bold;
    font-weight: 400px;
    
}

.collection-grid .featured-tag{
    bottom: 1rem !important;
    left: 1rem !important;
    border: none;
    background: rgb(10, 10, 10, 0.5);
}

.featured-tag p {
    letter-spacing: 0.5px;
    font-weight: 700;
    font-size: 1rem;
    font-weight: 600;
}

.featured-tag h3 {
    letter-spacing: 2px;
    font-weight: 700;
}



